<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-{{ colore_primario }} w3-center" style="height:100vh;display:flex;justify-content:center;align-items:center;">
    <div class="w3-card-4 w3-white w3-padding" style="width:400px;">
        <h2>Login</h2>
        <form method="POST">
            <label>Inserisci il tuo codice identificativo:</label>
            <input class="w3-input w3-border" type="text" name="codice" required>
            <button class="w3-button w3-{{ colore_primario }} w3-margin-top" type="submit">Entra</button>
        </form>
    </div>
</body>
</html>
